# Build and project folders
build/


###############################################################################
## Editor configurations
###############################################################################
# Visual Studio Code
.vscode/
